<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/stylesheets/events.css">
  <link rel="stylesheet" href="/stylesheets/comman.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
  <%- include('partials/header') -%>
  <div class="sidebar-container">
    <div class="sideBar">
      <h2>List of all Categories</h2>
      <div>
        <% categories.forEach((category)=>{ %>
          <a class="categories" href="#"><%= category.event_category %></a>
        <% }) %>
      </div>
    </div>
    <div class="container">
      <div class="top">
        <form action="/events" method="GET">
          <h2>Find event by location</h2>
          <input type="text" name="location" placeholder="Enter location">
          <input type="submit" value="submit">
        </form>
      </div>
      <div>
      </div>
      <h1>Listing Events</h1>
      <ul class="event-list">
        <% if(events.length){ %>
          <% events.forEach((event)=>{ %>
            <li class="list-event">
              <h2><%=event.title %></h2>
              <a class="read-more" href="/events/<%=event._id%>">Read more</a>
            </li>
          <% }) %>
        <% } else { %>
          <h2>There is no any event</h2>
        <% } %>
      </ul>
    </div>
  </div>
  <%- include('partials/footer') -%>
</body>
</html>